<div class="center jumbotron">
  <h1>E-Plate App</h1>

  <h2>
    This is the Home Page for E-plate the book reading application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

