<div class="center jumbotron">

  <h1><span class="glyphicon glyphicon-book" aria-hidden="true"></span> E-Plate  </h1>

  <h2>
    This is the home page for the E-Plate application.
  </h2>

  <h3>
    アカウントを持っていない方
  </h3>

  <%= link_to "Sign Up", signup_path , class: "btn btn-lg btn-primary" %>

</div>
 



