@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */


body {
  padding-top: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  font-family: "cursive";
  font-style: italic;
  letter-spacing: -2px;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: normal;
  color: #9370db;
}

h3 {
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: #1971FF;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */


footer {

  p {
    text-align: center;
    padding: 5px;
    margin: 0;
  }

  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* login forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* pagination */

/* グレー */

$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

/* マゼンタ */

$dark_magenta: #884488;
$very_dark_magenta: darken($dark_magenta, 25%);

/* 赤系 */
$red: #cc0000;
$pink: #ffcccc;

/* 緑系 */
$green: #00cc00;

/* マージン、パディング */

$narrow: 2px;
$moderate: 6px;
$wide: 10px;
$very_wide: 20px;

/* フォントサイズ */

$tiny: 8px;
$small: 10px;
$normal: 12px;
$large: 16px;
$huge: 20px;

/* 行の高さ */

$standard_line_height: 16px;

nav.pagination {
  margin: $moderate 0;
  padding: $moderate 0;
  display: inline-block;
  border-top: solid $very_light_gray 1px;
  border-bottom: solid $very_light_gray 1px;
  span.page, span.first, span.prev, span.next, span.last {
    display: inline-block;
    background-color: $light_gray;
    padding: $narrow $moderate;
    a {
      text-decoration: none;
    }
  }
  span.current {
    background-color: $dark_gray;
    color: $light_gray;
  }
  span.disabled {
    color: $gray;
  }
  span.gap {
    background-color: transparent;
  }
}
