<div class="panel panel-default">
  <div class="panel-body">
    <center>
     リアルタイム表示 Coming soon... 
    </center>
  </div>

  <footer class="footer">
    <small>
      </p>&copy; 2020 NAiZ </p> 管理人 @<a href='#'>Twitter</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </footer>
</div>




